<!doctype html>
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->

<head>

<meta charset="utf-8">

<title>HTML Starter</title>

<meta name="description" content="_______________INSERT_DECRIPTION_HERE_______________">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->

<link rel="stylesheet" href="public/style.css">

</head>

<!-- Page Content -->
  
<body>
  
<h1>INITIALIZE URL:</h1>
<p id="init"></p>

<h1>SUBMIT URL:</h1>
<p id="submit"></p>
  
  
<!-- JavaScript -->

<script src="js/functions.js"></script>

<script>
document.getElementById("init").innerHTML = 
window.location.href+"initialize";
  
document.getElementById("submit").innerHTML = 
window.location.href+"submit";
  
</script>
  
  
<!-- #INSERT YOUR MESSENGER CODE HERE -->

</body>

</html>
